    {{#each this}}
    <div class="render-countries">
        <p class="name-countries">{{name}}</p>
        <img class = "flag-countries" src="{{flag}}" alt="{{name}}" width="140" , height="120" /> 
    </div>
    {{/each}}
